:root {
    --nav-nouveautes-primaire: #C7D64F;
    --nav-nouveautes-secondaire: #95C23D;

    --nav-lien: #0084A4;
    --panel-fond: #A9BBC1;

    --font-color: #0084A4;

    --background: #E7EBEC;
}