:root {
    --nav-nouveautes-primaire: #ec6608;
    --nav-nouveautes-secondaire: #bb1f11;

    --nav-lien: #F2CB05;
    --panel-fond: #d9dfdf;

    --font-color: #171C60;

    --background: #C8CBD0;
}