/* ============== FOOTER ================================== */

footer {
    background: #042c50;
    background: radial-gradient(circle, #042c50 49%, rgba(123,177,221,1) 88%);
    padding: 0 0;
}

footer p {
    color: white;
    padding: 0.5rem 0;
}