/**
16/04/2021
Projet : Site EuroBuvette 2021
Groupe B :
            Fabian Metayer
            Jeremy Chekroun
            Morgan Tranquard

/* ============== Propriétées générales ============== */



h1 {
    color: #171C60;
    font-size: 30px;
}

h2 {
    color: #7BB1DD;
}

.center, th, td {
    text-align: center;    
}

/* ============== PANEL ================================= */
.panel {
    background-color: #d9dfdf;    
    box-shadow: 5px 5px #BC000F;
    padding: 1rem;
    margin: 1rem 5rem;
    border-radius: 5px;
}

/* ============== HEADER ================================= */
.logo {
    display: inline-block; 
    margin: 1%;
    vertical-align: sub;
 }
 
.titles {
    display: inline-block;
    height: inherit;
    font-family: 'Varela Round', sans-serif;
}

nav a {
    color: #F2CB05;
    margin: 5px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    text-decoration: none;   
}

nav a:hover {
    background-color: white;
}

ul li {
    display: inline-block;
    margin-right: 2%;
    margin-left: 2%;
}

.menu {
    padding: 10px;
}

.navigation {
    background-color: #7bb1dd;
   
}
/* ============== MAIN ==================================== */

main {
    background-color: #C8CBD0;
    padding: 1px;
}

.hauteurTest  {
    height:500px;
}
/* ============== MAIN ACCUEIL  ============================ */

.buvettesSlot{
    /*background-color: aquamarine;*/
    width: 70%;
    height:100%;
    display:inline-block;
}
/* == VIGNETTES BUVETTES == */
.buvettesAccueil {
    background-color: #d9dfdf;
    display: flex;
    padding: 15px;
    width: auto;
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 20px; 
    border-radius: 5px;
    box-shadow: 5px 5px #BC000F;
}

.buvettesAccueil h3 {
    margin: 3%;
    color:#171C60;
    font-family: 'Varela Round', sans-serif;
}

.buvettesAccueil p {
    margin: 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
/* == BOUTON VIGNETTE == */
.buvettesAccueil a {
   background-color: #F2CB05;
   border-radius: 18px;
   font-size: 25px;
   padding: 5px;
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
}

.buvettesAccueil img {
    vertical-align: middle;
    margin-top: 2%;
    
}

/* == ANNEXE ASIDE == */
.annexeAccueil {
    /*display: inline-block;*/
    /*position: static;*/
    background-color: #042C50;
    width: 25%;
    margin: 1%;
    float:right;
}

.annexeAccueil p {
    margin: 11%;
    color:#F2CB05;
    font-family: 'Roboto', sans-serif;
}

.buvettesAccueil span {
    vertical-align: middle;
    margin: 4% 2%;
}


/* ============== FOOTER ================================== */

footer {
    background-color: #7bb1dd;
    /*height: 60px;*/
}

footer p {
    color: white;
    padding: 10px 0 10px 0;
}

/* ==============  Statistiques  ========================== */

.stats {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: auto;
    padding: 2%;
}

.col {
    width: 27%;
    margin: auto;  
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 18px;
}

.volontaire {
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

th {
    font-weight: bolder;
}

/* ==============  Recherche Membre  ========================== */

.formulaireRechercheMembres {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* ==============  Affectations  ========================== */

.divAffect {
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.affect {
    width: 30%;
    margin: 2%;
    padding-top: 5%;
}

/* ============== ADMINISTRATEUR ========================== */

.formulaireConnexion {
    padding-top: 5%;
    padding-bottom: 5%;
    width: 30%;
    margin: auto;
}

/* ==============  Formulaire  ============================ */

fieldset {    
    border: 1px solid black;
    border-radius: 15px;
}

legend{    
    padding: 0 5px 0 5px;
}

input {
    margin: 3px 0 3px 0;
}


